
.container {
  width: 100%;
  background-color: #f2f2f2;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .25%;
  align-items: center;
  background-color: #f2f2f2;
}

nav h1 {
  color: black;
  padding: .25%
}

nav a{
  text-decoration: none;
  color:brown;
  padding: 10px;
}

.deliveryTitle{
  color: black;
  padding: 2%;
}

.mainImage {
  width: 100%;
  display: flex;
  background-image: url('Pizza.jpg');
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainImage button{
  padding: 1rem;
  background-color: none;
  border: solid black;
}

.bottomSection1 {
  display: flex;
  padding: 3%;
  flex-direction: row;
  width: 100%;
  min-height: 60vh;
  justify-content: space-between;
  border: black;
  border-bottom-style: dotted;
}

.bottomSection2 {
  display: flex;
  padding: 3%;
  flex-direction: row;
  width: 100%;
  min-height: 60vh;
  justify-content: space-between;
  border: black;
  border-bottom-style: dotted;
}

